node_modules/
prometheus-data/
grafana-data/
elasticsearch-data/
logstash-data/
package-lock.json

elasticsearch/elasticsearch.keystore

# hide duplicated common files amongst apps
app_producer/data.js
app_producer/logger.js
app_consumer/data.js
app_consumer/metrics.js